*{margin:0;font-family:"Amatic SC", sans-serif;}

img{width:100%;}

.end a{
  color:white;
}
  
.img1 {
background-image:url("https://www.w3schools.com/w3images/pizza.jpg");
background-size:cover;
background-repeat:no-repeat;
filter: grayscale(50%);
}

nav {
display:flex;
background:rgba(0,0,0,0.6);
position:fixed;
width:100%;
z-index:20;
}

nav a {
color:white;
font-size:24px;
padding:12px 18px;
cursor:pointer;
margin:0;
}

nav:hover {
background:black;
}

nav a:hover {
background:#ccc;
color:black;
margin:0;

}

.title1 h1 {
color:white;
font-size:95px;
font-weight:200;
}

.title1 {
text-align:center;
padding-top:160px
}

.h1-2{
padding-top:35px;
}

.title1 button {
background:black;
color:white;
height:70px;
width:240px;
font-size:36px;
border:0px;
cursor:pointer;
margin-top:30px;
transition: .5s;
}

.title1 button:hover {
background:#ccc;
color:black;	
transition: .5s;
}
.yui:hover{
    background:#ccc;
    color:black;	
    transition: .5s;
}
.yui{
  transition: .5s;
}
.ppoo p:hover{
  color:black;	
  transition: .5s;
}
.ppoo p{
  transition: .5s;
}
.time p {
background:black;
color:white;
font-size:22px;
width:175px;
padding:4px;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
transition: .5s;
}
.time p:hover{
  background:#ccc;
color:black;	
transition: .5s;
}
.time {
margin-top:80px;
padding:10px;
}

.div1 {
background:black;
width:100%;
}

.div1-1 h1 {
color:white;
font-size:55px;
}

.div1-1 {
display:flex;
justify-content:center;
align-items:center;
width:100%;
height:200px;	
}

.div2-d2 {
display:flex;
justify-content:center;
align-items:center;
}

.div2-d3 h1{
color:white;
}

.div2-d3 {
display:flex;
justify-content:center;
align-items:center;
border:1px solid #ccc;
width:77%;
text-align:center;
margin:0;

}



.div2-d3-d1 {
height:80px;
border:0;
width:34%;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
cursor:pointer;
background:black;
transition: .5s;
}


.div2-d3-d1:hover {
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background: #f44336 !important;
margin:0;
transition: .5s;
}

.div2-d3-d2:hover {
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:#f44336 !important;
margin:0;
}

.div2-d3-d3:hover {
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:#f44336 !important;
margin:0;
}

.div3 {
display:flex;
justify-content:center;
}

.div3-1 {
background:white;
width:77%;
border:1px solid white;
margin-bottom:100px;
}

.h1h2 h1 {
font-size:38px;
}

.h1h2 h2 {
font-size:38px;
background:gray;
color:white;
border-radius:5px;
border:1px solid gray;
}

.h1h2 {
display:flex;
margin-left:10px;
margin-top:35px;
justify-content:space-between;
}

.p1 {
margin-left:10px;
margin-top:25px;	
}

.p1 p {
font-size:35px;
color:gray;
margin-bottom:40px;
}

.num1-1 {
width:96%;
border-bottom:1px solid #ccc;
}

.num1{
display:flex;
justify-content:center;	
}


.hot1{
background:#f44336;
border-radius:5px;
margin-left:10px;
padding:7px;
color:white;
font-weight:400;
}

.h1div1 {
display:flex;	
}

.new1{
background:#9e9e9e;
border-radius:5px;
margin-left:10px;
padding:7px;
color:black;
font-weight:400;
}

.h1div2 {
display:flex;	
}

.div4 {
background:#f44336;
filter:grayscale(75%);	
}


.about {
display:flex;
justify-content:center;
}

.about h1 {
color:white;
font-size:60px;
font-weight:400;
margin-top:70px;	
}

.abp {
display:flex;
justify-content:center;
}

.abp1 {
width:77%;
margin-top:80px;
}

.img3{
  height:800px
}
.abp1 p {
color:white;
font-size:24px;
}

.span1 {
color:white;
font-size:24px;
font-weight:bold;
}

.abp2 {
display:flex;
justify-content:space-between;
}

.abps2 img{
width:150px;
border-radius:50%;
}

.img2 {
width:100%;
margin-top:30px;	
}

.div5 h4 {
color:white;
font-size:35px;
}

.div5 {
margin-top:35px;
}

.oph1 {
margin-top:30px;
}

.oph1 p {
margin-top:20px;
}

.div6 {
display:flex;
width:70%;
justify-content:space-between;
margin-bottom:80px;
}

.oph2 {
margin-top:30px;
}

.oph2 p {
margin-top:20px;
}

.img3 {
width:100%;
filter:grayscale(80%);
display:flex;
}

.div7 {
background:#607d8b;
}

.div7 h1 {
color:white;
font-size:58px;
font-weight:400;
text-align:center;
padding-top:70px;
}

.div8 {
display:flex;
justify-content:center;
}

.div8-1 {
width:77%;
}

.conth1 p {
color:white;
font-size:26px;
margin-top:80px;
}

.conth2 span {
background:black;
width:50px;
height:30px;
padding-left:8px;
padding-right:8px;
text-align:center;
margin-right:10px;
}

.conth2 {
display:flex;
margin-top:30px;
font-size:24px;
}

.conth2 p {
color:white;
}

.conth3 {
margin-top:30px;
}

.conth3 h2 {
font-size:24px;
color:white;
}

.conth3 span{
font-weight:800;
font-size:30px;
}

.div9 {
display:flex;
flex-direction:column;
margin-top:30px;
margin-bottom:80px;
}

.div9 input {
height:70px;
font-size:28px;
margin-top:10px;
}

.div9 button {
height:50px;
margin-top:10px;
font-size:28px;
border:0;
cursor:pointer;
background:white;
transition: .5s;
}

.end {
background:black;
text-align:center;
color:white;
}

.end h1 {
padding:100px;
font-size:35px;
}

.div9 button:hover {
background:#ccc;
transition: .5s;
color: white;
}

#menu1{
display:flex;
}

#menu2{
display:none;
}

#menu3{
display:none;
}

a{
text-decoration:none;
}


@media only screen and (max-width: 600px) {

.input1 {
width:98%;
}

}

.checkclick{
  background: #f44336!important;
}